<!-- Toolbar -->

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Amber Lonka Portfolio</span>
  <span class="spacer"></span>
  <a href="https://github.com/amlonka/portfolio" target="_blank">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </a>
  <a href="https://github.com/amlonka/portfolio" target="_blank">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </a>
</mat-toolbar>

<div class="body">
  <router-outlet></router-outlet>
</div>
